In [ ]:
import os

csv_files = [f for f in os.listdir("extracted_filesS") if f.endswith('.csv')]
print(csv_files)

['JC-201701-citibike-tripdata.csv', 'JC-202412-citibike-tripdata.csv', 'JC-202010-citibike-tripdata.csv', 'JC-202006-citibike-tripdata.csv', 'JC-202404-citibike-tripdata.csv', 'JC-202105-citibike-tripdata.csv', 'JC-201902-citibike-tripdata.csv', 'JC-201512-citibike-tripdata.csv', 'JC-202203-citibike-tripdata.csv', 'JC-201801-citibike-tripdata.csv', 'JC-201709-citibike-tripdata.csv', 'JC-201809-citibike-tripdata.csv', 'JC-202308-citibike-tripdata.csv', 'JC-20161-citibike-tripdata.csv', 'JC-202302-citibike-tripdata.csv', 'JC-201510-citibike-tripdata.csv', 'JC-201803-citibike-tripdata.csv', 'JC-202201-citibike-tripdata.csv', 'JC-202410-citibike-tripdata.csv', 'JC-201703-citibike-tripdata.csv', 'JC-202111-citibike-tripdata.csv', 'JC-202012-citibike-tripdata.csv', 'JC-202004-citibike-tripdata.csv', 'JC-202107-citibike-tripdata.csv', 'JC-202406-citibike-tripdata.csv', 'JC-202209-citibike-tripdata.csv', 'JC-201708 citibike-tripdata.csv', 'JC-201908-citibike-tripdata.csv', 'JC-20163-citibike-tripdata.csv', 'JC-201608-citibike-tripdata.csv', 'JC-202408-citibike-tripdata.csv', 'JC-202109-citibike-tripdata.csv', 'JC-201606-citibike-tripdata.csv', 'JC-201705-citibike-tripdata.csv', 'JC-202101-citibike-tripdata.csv', 'JC-201610-citibike-tripdata.csv', 'JC-202002-citibike-tripdata.csv', 'JC-201910-citibike-tripdata.csv', 'JC-202312-citibike-tripdata.csv', 'JC-202211-citibike-tripdata.csv', 'JC-201805-citibike-tripdata.csv', 'JC-202304-citibike-tripdata.csv', 'JC-201906-citibike-tripdata.csv', 'JC-202008-citibike-tripdata.csv', 'JC-202207-citbike-tripdata.csv', 'JC-202310-citibike-tripdata.csv', 'JC-201912-citibike-tripdata.csv', 'JC-201811-citibike-tripdata.csv', 'JC-202205-citibike-tripdata.csv', 'JC-201807-citibike-tripdata.csv', 'JC-201904-citibike-tripdata.csv', 'JC-202306-citibike-tripdata.csv', 'JC-201604-citibike-tripdata.csv', 'JC-201707-citibike-tripdata.csv', 'JC-202402-citibike-tripdata.csv', 'JC-201711-citibike-tripdata.csv', 'JC-202103-citibike-tripdata.csv', 'JC-201612-citibike-tripdata.csv', 'JC-201808-citibike-tripdata.csv', 'JC-202309-citibike-tripdata.csv', 'JC-202007-citibike-tripdata.csv', 'JC-202405-citibike-tripdata.csv', 'JC-202104-citibike-tripdata.csv', 'JC-202112-citibike-tripdata.csv', 'JC-202011-citibike-tripdata.csv', 'JC-201903-citibike-tripdata.csv', 'JC-202301-citibike-tripdata.csv', 'JC-202202-citibike-tripdata.csv', 'JC-20162-citibike-tripdata.csv', 'JC-202208-citibike-tripdata.csv', 'JC-201909-citibike-tripdata.csv', 'JC-201609-citibike-tripdata.csv', 'JC-201511-citibike-tripdata.csv', 'JC-202303-citibike-tripdata.csv', 'JC-201901-citibike-tripdata.csv', 'JC-201802-citibike-tripdata.csv', 'JC-202005-citibike-tripdata.csv', 'JC-202106-citibike-tripdata.csv', 'JC-202407-citibike-tripdata.csv', 'JC-202411-citibike-tripdata.csv', 'JC-202110-citibike-tripdata.csv', 'JC-201702-citibike-tripdata.csv', 'JC-201712-citibike-tripdata.csv', 'JC-202401-citibike-tripdata.csv', 'JC-202003-citibike-tripdata.csv', 'JC-201611-citibike-tripdata.csv', 'JC-201607-citibike-tripdata.csv', 'JC-201704-citibike-tripdata.csv', 'JC-201804-citibike-tripdata.csv', 'JC-202206-citibike-tripdata.csv', 'JC-202305-citibike-tripdata.csv', 'JC-201907-citibike-tripdata.csv', 'JC-201911-citibike-tripdata.csv', 'JC-202210-citibike-tripdata.csv', 'JC-201812-citibike-tripdata.csv', 'JC-202409-citibike-tripdata.csv', 'JC-202108-citibike-tripdata.csv', 'JC-201509-citibike-tripdata.csv', 'JC-202204-citibike-tripdata.csv', 'JC-201806-citibike-tripdata.csv', 'JC-201905-citibike-tripdata.csv', 'JC-202307-citibike-tripdata.csv', 'JC-202311-citibike-tripdata.csv', 'JC-201810-citibike-tripdata.csv', 'JC-202212-citibike-tripdata.csv', 'JC-202403-citibike-tripdata.csv', 'JC-202102-citibike-tripdata.csv', 'JC-201710-citibike-tripdata.csv', 'JC-202001-citibike-tripdata.csv', 'JC-201605-citibike-tripdata.csv', 'JC-201706-citibike-tripdata.csv', 'JC-202009-citibike-tripdata.csv']

In [1]:
import pandas as pd

dfs = []

for csv in csv_files:
    df = pd.read_csv(os.path.join("extracted_files", csv))
    dfs.append(df)
    
final_df = pd.concat(dfs, ignore_index=True)

NameError: name 'csv_files' is not defined

In [1]:
import pandas as pd
final_df = pd.read_csv('/Users/sylvesteranthony/Documents/Ride_prediction/data_check.csv')

/var/folders/ll/x130kbsj3p5g6xgf9xqw1kvw0000gn/T/ipykernel_65977/3248589761.py:2: DtypeWarning: Columns (2,3,5,9,13,16,17,18,19,20,21,22,23,28,30,31,33,37,41) have mixed types. Specify dtype option on import or set low_memory=False.
  final_df = pd.read_csv('/Users/sylvesteranthony/Documents/Ride_prediction/data_check.csv')

In [2]:
df_res = pd.DataFrame(columns=["Date", "Start_Station_ID", "Start_Station_Name"])

# Combine columns using the first non-null value
df_res['Date'] = final_df[['Start Time', 'started_at', 'starttime']].bfill(axis=1).iloc[:, 0]
df_res['Start_Station_ID'] = final_df[['Start Station ID', 'start_station_id', 'start station id']].bfill(axis=1).iloc[:, 0]
df_res['Start_Station_Name'] = final_df[['Start Station Name', 'start_station_name', 'start station name']].bfill(axis=1).iloc[:, 0]

In [3]:
df['Start_Station_Name'].isna().sum()

199

In [3]:
df_res['Date'] = pd.to_datetime(df_res['Date']).dt.date

# Convert Start_Station_ID to integer
df_res['Start_Station_ID'] = df_res['Start_Station_ID'].astype(str).str.replace(r'\.0$', '', regex=True)



df = df_res.sort_values(by='Date')

# Reset the index after sorting (optional)
df = df.reset_index(drop=True)


# Display the final DataFrame
df

               Date Start_Station_ID    Start_Station_Name
0        2015-09-21             3186         Grove St PATH
1        2015-09-21             3202          Newport PATH
2        2015-09-21             3202          Newport PATH
3        2015-09-21             3195               Sip Ave
4        2015-09-21             3211            Newark Ave
...             ...              ...                   ...
5272261  2024-12-31            JC006             Warren St
5272262  2024-12-31            JC066          Newport PATH
5272263  2024-12-31            JC023          Brunswick St
5272264  2024-12-31            JC014        Columbus Drive
5272265  2024-12-31            JC109  Bergen Ave & Sip Ave

[5272266 rows x 3 columns]

In [6]:
df_users_count = df.groupby(['Date', 'Start_Station_ID', 'Start_Station_Name']).size().reset_index(name='Users_Count')
df_users_count

              Date Start_Station_ID       Start_Station_Name  Users_Count
0       2015-09-21             3183           Exchange Place           29
1       2015-09-21             3184              Paulus Hook           14
2       2015-09-21             3185                City Hall           35
3       2015-09-21             3186            Grove St PATH           32
4       2015-09-21             3187                Warren St           12
...            ...              ...                      ...          ...
198099  2024-12-31            JC108  Bergen Ave & Stegman St            3
198100  2024-12-31            JC109     Bergen Ave & Sip Ave           44
198101  2024-12-31            JC110        JC Medical Center           13
198102  2024-12-31            JC115            Grove St PATH           70
198103  2024-12-31            JC116              Exchange Pl           26

[198104 rows x 4 columns]